---
import BaseLayout from '../layouts/BaseLayout.astro';
import CardList from '../components/CardList.astro';
import CategorySelector from '../components/CategorySelector.astro';
import LanguageSelector from '../components/LanguageSelector.astro';
const allPosts  = await Astro.glob('../pages/submissions/*.md')
---

<BaseLayout title="ACES Snippets">
	<main>
		<CategorySelector/>
		<LanguageSelector/>
		<CardList list={allPosts}/>
	</main>
</BaseLayout>

<style>

</style>
