---
const { href, title, author } = Astro.props;
---

<li class="block bg-white p-6 rounded-lg border-solid border-2 border-black">
	<a href={href}>
		<h2 class="font-bold text-3xl pb-4">
			{title}
		</h2>
		<p>
			By {author}
		</p>
	</a>
</li>
