---
import { Image } from 'astro:assets';
const { href, title, author, extension } = Astro.props;
import pyImg from '../assets/py.svg'
import jsImg from '../assets/js.svg'
import cppImg from '../assets/cpp.svg'
import other from '../assets/other.svg'

let img;
switch(extension) {
	case 'cpp':
		img = cppImg;
		break;
	case 'py':
		img = pyImg;
		break;
	case 'js':
		img = jsImg;
		break;
	default:
		img = other;
}
---

<li>
	<a href={href} class="block bg-white p-6 rounded-lg border-solid border-2 border-black relative">
		<h2 class="font-bold text-3xl pb-4">
			{title}
		</h2>
		<p>
			By {author}
		</p>
		<Image src={img} class="w-6 absolute bottom-3 right-3" alt="Language Icon" />
	</a>
</li>
