---
const categories = ['AppScript', 'Data Structures', 'Algorithms', 'Bash', 'Interview Questions']
const pathname = Astro.url.pathname;
const currentPath = pathname.slice(1);
---

<ul class="flex gap-2 pb-6 overflow-x-scroll">
  {categories.map(category => <li class=""><a class={`${currentPath.includes(encodeURIComponent(category)) ? 'active' : 'inactive'} block text-sm px-4 py-2 rounded-lg whitespace-nowrap`} href={`/snippets/${category}`}>{category}</a></li>)}
</ul>

<style>
  .active {
    @apply bg-black text-white;

  }
  .inactive {
    @apply bg-[#C7BFB4];
  }
</style>