---
const categories = [
  {
    name: 'All',
    class: 'all',
  },
  {
    name: 'AppScript',
    class: 'appscript',
  },
  {
    name: 'Data Structures',
    class: 'datastructures',
  },
  {
    name: 'Algorithms',
    class: 'algorithms',
  },
  {
    name: 'Bash',
    class: 'bash',
  },
  {
    name: 'Interview Questions',
    class: 'interviewquestions',
  },
]
---

<div id="categories" class="flex gap-2 pb-6 overflow-x-scroll">
  {
    categories.map((category) => (
      <button
        class={`block text-sm px-4 py-2 rounded-lg whitespace-nowrap transition-all category ${
          category.class
        } ${category.class == 'all' ? 'active-button' : 'inactive-button'}`}
      >
        {category.name}
      </button>
    ))
  }
</div>

<style is:global>
  .category-hidden {
    @apply hidden;
  }

  .active-button {
    @apply bg-black hover:bg-[#434343] text-white;
  }
  .inactive-button {
    @apply bg-[#C7BFB4] hover:bg-[#aca59c];
  }
</style>
