---
const categories = [
  {
    name: 'All',
    class: 'all',
  },
  {
    name: 'AppScript',
    class: 'appscript',
  },
  {
    name: 'Data Structures',
    class: 'datastructures',
  },
  {
    name: 'Algorithms',
    class: 'algorithms',
  },
  {
    name: 'Bash',
    class: 'bash',
  },
  {
    name: 'Interview Questions',
    class: 'interviewquestions',
  },
]
---

<div id="categories" class="flex gap-2 pb-6 overflow-x-scroll">
  {
    categories.map((category) => (
      <button
        class={`block text-sm px-4 py-2 rounded-lg whitespace-nowrap transition-all category ${
          category.class
        } ${category.class == 'all' ? 'active-button' : 'inactive-button'}`}
        data-classname={category.class}
      >
        {category.name}
      </button>
    ))
  }
</div>

<style is:global>
  .active-button {
    @apply bg-black hover:bg-[#434343] text-white;
  }
  .inactive-button {
    @apply bg-[#C7BFB4] hover:bg-[#aca59c];
  }
</style>

<script>
  let categories = document.querySelectorAll('.category')
  categories.forEach((category) =>
    category.addEventListener('click', (e) => {
      filterByCategory(e)
    })
  )

  function filterByCategory(e) {
    // Filtering cards
    let cards = document.querySelectorAll('.card')
    let currentCategory = e.target.dataset.classname
    cards.forEach((card) => {
      if (
        currentCategory != 'all' &&
        !card.classList.contains(currentCategory)
      ) {
        card.classList.add('hidden')
      } else {
        card.classList.remove('hidden')
      }
    })

    // Update buttons
    let buttons = document.querySelectorAll('.category')
    buttons.forEach((category) => {
      if (category.dataset.classname != currentCategory) {
        category.classList.remove('active-button')
        category.classList.add('inactive-button')
      } else {
        category.classList.add('active-button')
        category.classList.remove('inactive-button')
      }
    })
  }
</script>
