---
const languages = [
      { name: 'All', class: 'other' },
      { name: 'Python', class: 'py' },
      { name: 'Javascript', class: 'js' },
      { name: 'C++', class: 'cpp' },
      { name: 'Java', class: 'java' },
]
---

<div id="languages" class="flex gap-2 pb-6 overflow-x-scroll">
  {
    languages.map((language) => (
      <button
        class={`block text-sm px-4 py-2 rounded-lg whitespace-nowrap transition-all language ${
          language.class
        } ${language.class == 'other' ? 'active-button' : 'inactive-button'}`}
      >
        {language.name}
      </button>
    ))
  }
</div>

