---
---

<nav class="container mx-auto flex justify-between items-center relative h-28 pl-4">
  <a href="/snippets/" class="inline-block">
    <img src="/snippets/logo.svg" alt="">
  </a>
  <a href="https://github.com/acesdit/snippets/" target="_blank" class="fixed z-20 top-0 right-0 w-32 md:w-auto">
    <img src="/snippets/github-badge.svg" alt="GitHub">
  </a>
</nav>