---
import BaseLayout from './BaseLayout.astro'
const { frontmatter } = Astro.props
---

<BaseLayout title={frontmatter.title} >
    <div class="snippet-wrapper" >
      <h1 class="text-5xl font-bold pb-5">{frontmatter.title}</h1>
      <p class="text-base pb-5" style="font-size: 1.1rem;">By {frontmatter.author}</p>
      <div class="code-wrapper pr-10" style="padding: 15px; background: #24292E; border-radius: 10px;
      width: fit-content; min-width: 50vw; max-width: 90vw; font-size: 1rem; position: relative;
      display: flex; flex-direction: row">
        <slot />
        <button class="copy-button" style="position:absolute; top: 0%; right: 0%;
        padding: 10px; background: #3A434B; border-bottom-left-radius: 10px;
        border-top-right-radius: 10px ;color: aliceblue">

          Copy Code
        </button>
      </div>

    </div>
</BaseLayout>

<script>
  function copyCode() {
    const codeWrapper = document.querySelector('.code-wrapper')
    const code = codeWrapper.innerText;
    navigator.clipboard.writeText(code);
    const copyButton = document.querySelector('.copy-button');
    copyButton.innerText = "Code Copied!";
    setTimeout(() => {
      copyButton.innerText = "Copy Code";
    }, 1000)
  }
  
  const copyButton = document.querySelector('.copy-button');
  copyButton.addEventListener('click', copyCode);
</script>